@{
	ViewData["Title"] = "Сменить пароль";
}

<section class="vh-100 gradient-custom">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">

				<a class="text-center" asp-area="" asp-controller="Home" asp-action="Index">Отмена</a>

				<form autocomplete="on" method="post" id="changeForm" asp-area="" asp-controller="Account" asp-action="ChangePassword">
					<div class="d-flex flex-column align-items-center justify-content-between">
						<h2>Сменить пароль у текущего аккаунта</h2>

						<div class="col-md-7 mb-3">
							<label>Введите новый пароль</label>
							<input name="newPassword" id="password" type="password" class="form-control" placeholder="Введите пароль">
							<span id="passwordError" class="text-danger"></span>
						</div>

						<input type="button" id="submitBtn" class="btn btn-primary fw-bold border-2 px-5" value="Сменить">
					</div>
				</form>


				<a class="text-center" asp-area="" asp-controller="Home" asp-action="Index">Отмена</a>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	<script src="~/js/password.js" asp-append-version="true"></script>
}