@model OnlineCourses.Models.ViewModels.Account.RegisterViewModel
@{
	ViewData["Title"] = "Регистрация";
}
@await Html.PartialAsync("HeaderPartial")

<section class="gradient-custom">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">


				<form id="regForm" autocomplete="on" method="post" asp-area="" asp-controller="Account" asp-action="Register">
					<div class="d-flex flex-column align-items-center justify-content-between">
						<h2>Регистрация</h2>

						<div class="col-md-7 mb-3">
							<label asp-for="UserName"></label>
							<input asp-for="UserName" class="form-control" placeholder="Введите имя">
							<span asp-validation-for="UserName" class="text-danger"></span>
						</div>

						<div class="col-md-7 mb-3">
							<label asp-for="Login"></label>
							<input asp-for="Login" class="form-control" placeholder="Введите логин">
							<span asp-validation-for="Login" class="text-danger"></span>
						</div>

						<div class="col-md-7 mb-3">
							<label asp-for="Email"></label>
							<input asp-for="Email" class="form-control" id="email" placeholder="Введите почту">
							<span asp-validation-for="Email" id="emailError" class="text-danger"></span>
						</div>

						<div class="col-md-7 mb-3">
							<label asp-for="Password"></label>
							<input asp-for="Password" class="form-control" id="password" placeholder="Введите пароль">
							<span asp-validation-for="Password" id="passwordError" class="text-danger"></span>
						</div>

						<div class="col-md-7 mb-3">
							<label asp-for="PasswordConfirm"></label>
							<input asp-for="PasswordConfirm" class="form-control" placeholder="Повторите пароль">
							<span asp-validation-for="PasswordConfirm" class="text-danger"></span>
						</div>

						<input type="button" id="submitBtn" class="btn btn-primary fw-bold border-2 px-5" value="Зарегестрироваться">
					</div>
					<div asp-validation-summary="All" class="text-danger"></div>
				</form>


				<a class="text-center" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	<script src="~/js/reg.js" asp-append-version="true"></script>
}